# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Temporary files
*.swp

# Project files
cache/
logs/
output/

# Project models
checkpoints/
fonts/
VOCdevkit2007
dataset/*

*.ttf

models/*

test_images
label_tmp

.DS_Store